# Container passthrough
container

# Build
dist

# GCODE (Debugging)
*.gcode

# Cypress
tests/web/screenshots
tests/web/videos
tests/web/reports

# Istanbul
.nyc_output
coverage

# Node modules
node_modules